<div class="message-row">
    {{#if myMsg}}
        {{#if isImage}}
            <img class="thread-message right" alt="jpg" src="{{content}}">
        {{else}}
            <span class="thread-message right">{{content}}</span>
        {{/if}}
    {{else}}
        {{#if isImage}}
            <img class="thread-message  left" alt="jpg" src="{{content}}">
        {{else}}
            <span class="thread-message left">{{content}}</span>
        {{/if}}
    {{/if}}
</div>