<fieldset style="margin: 10px">
    <p style="margin: 10px">Title:  <span style="color: royalblue">{{title}}</span></p>
    <p style="margin: 10px">Review:  <span style="color: royalblue">{{comment}}</span></p>
    <p style="margin: 10px">Date:  <span style="color: royalblue">{{date}}</span></p>
    <a style="margin: 10px" href="/profile/{{creator}}">Author:  <span style="color: royalblue">{{author}}</span></a>
</fieldset>