<a href="/details/{{_id}}">
<fieldset>
    <legend style="margin: 10px">Name: <span style="color: royalblue">{{title}}</span></legend>
    <p style="margin: 10px">Location:  <span style="color: royalblue">{{location}}</span></p>
    <img class="hotelImg" src="{{imageUrl}}" alt="hotel image">
    <p style="margin: 10px">Description:  <span style="color: royalblue">{{description}}</span></p>
    <a style="margin: 10px" href="/profile/{{creator}}">Added by:  <span style="color: royalblue">{{author}}</span></a>
</fieldset>
</a>
