{{> header}}
<main>
    <h1>Customize your order</h1>
    <div class="catalog">
        <div class="column">
            <img src="../../static/{{doner.imageUrl}}">
        </div>
        <div class="column">
            <h2>{{doner.productName}}</h2>
            <h3>Toppings</h3>
            <div class="toppings">
                <form id="order-form" action="/order/place" method="post">
                    <input name="product_id" type="hidden" value="{{doner._id}}">
                    {{#each doner.toppings}}
                        <input name="{{this}}" type="checkbox" value="{{this}}" checked>
                        <label style="text-transform: capitalize" for="{{this}}">{{this}}</label>
                        <br>
                        {{else}}
                        <p style="font-style: italic">No toppings available with this product.</p>
                    {{/each}}
                </form>
            </div>
            <a class="button" href="javascript:document.getElementById('order-form').submit()">Checkout</a>
        </div>
    </div>
</main>
{{> footer}}