<form action="/register" method="POST">
    Username:
    <input type="text" name="username" value="{{inputData.username}}"/>
    <br />
    firstName:
    <input type="text" name="firstName" value="{{inputData.firstName}}"/>
    <br />
    lastName:
    <input type="text" name="lastName" value="{{inputData.lastName}}"/>
    <br />
    Password:
    <input type="password" name="password" value="{{inputData.password}}"/>
    <br />

    Rep. Pass:
    <input type="password" name="repPass" value="{{inputData.repPass}}"/>
    <br />
    <br />
    <input type="submit" value="Register" />
</form>