{{> header}}
<div class="content">
    {{#each meme}}
        <img src=".{{memeSrc}}" alt=""/>
        <h3>{{title}}</h3>
        <p> {{description}}</p>
        <a href="http://localhost:3000/download/:id={{_id}}"><button>Download Meme</button></a>
    {{#if isAuth}}
        <a href="http://localhost:3000/edit/:id={{_id}}"><button>Edit</button></a>
        <a href="http://localhost:3000/delete/:id={{_id}}"><button>Delete</button></a>
    {{/if}}
    {{else}}
        <div>Something went wrong! Please try again.</div>
    {{/each}}
</div>
{{> footer}}
